.game-screen {
    .container-game {
        padding: 24px 16px;
        background: #fff;
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
    }

    .btn-end-game {
        margin-top: 32px;
        font-size: 14px;
        padding: 12px 24px;
        color: #fff;
        background-color: #ff4e4e;
    }

    .container-statistik-game {
        width: 400px;
    }

    .table-statistik {
        margin-top: 16px;
        width: 100%;
        table-layout: fixed;
    }
    .table-statistik, 
    .table-statistik tr, 
    .table-statistik th, 
    .table-statistik td {
        border: 1px solid #dfdfdf;
        border-collapse: collapse;
    }

    .table-statistik th, 
    .table-statistik td {
        padding: 8px;
        text-align: center;
    }

    .status-game {
        margin: 8px 0;
        display: flex;
        justify-content: space-between;
    }
}