@import 'reset.scss';
@import 'utils.scss';

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.content {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #647cd9;
}

// components
@import 'components/welcomeScreen.scss';
@import 'components/startGame.scss';
@import 'components/loadingScreen.scss';
@import 'components/gameScreen.scss';